<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Villain</title>
</head>

<body>
  <h2>Create a new Villain! mwah ha ha ha!</h2>
  <form method="POST" action="/villains">
    <label for="alias">Alias</label>
    <input type="text" id="alias" name="alias" />
    <br />
    <label for="movie">Movie</label>
    <input type="text" id="movie" name="movie" />
    <br />
    <button type="submit">Create Villain!</button>
  </form>
</body>

</html>
